*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
    font-family: 'Roboto Mono', monospace;
}
html
{
     scroll-behavior:smooth;
}
::selection{
    color: white;
    background: black;
}
#preloader{
    position: fixed;
     width: 100%;
    height: 100vh;
    background: #fff url(preloader_3.gif) no-repeat center;
    z-index: 9999;
   
    
}



/* home page section */


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
    width: 100%;
   background-color: black;
    z-index: 9999;
    box-shadow: 0px 0px 10px black;

}
.logo{
  color: black;
  font-size: 22px;
  letter-spacing: 5px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #880E4F);
  padding: 5px;
  border-radius: 5px;

}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 45%;
}
.nav-links li{
    list-style-type: none;
}
li{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
li:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -8px;
  background: royalblue;
  height: 10px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
li:hover:before, li:focus:before, li:active:before {
  right: 0;
}

.nav-links a{
  text-decoration: none;
  font-size: 19px;
  color: white;
  letter-spacing: 2px;
}
.nav-links a:hover{
  color: royalblue;
}
.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width: 27px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: .4s ease;
}

@media  screen and (max-width:767px){
  body{
       overflow-x: hidden;
  }
   
  .nav-links{
    position: absolute;
    right: 0;
    height: 90vh;
    top: 10vh;
     background-color: #5d4954; 
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
      z-index: 9999;
  }
  .nav-links li{
    opacity: 0;
  }
  .nav-links li a{
    font-size: 20px;
  }
  .burger{
    display: block;
  }
}
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
     
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

header{
    height: 100vh;
    width: 100%;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #880E4F);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.header-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    color: white;
    height: 500px;
    margin-top: 50px;
    margin-left: 20px
}
.header-content h1{
    font-size: 40px;
    letter-spacing: 3px;
}
.header-content h2{
    font-size: 25px;
    width: 110px;
    height: 40px;
    padding: 5px;
    margin: 20px 0;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bolder;
}
.header-content p{
    font-size: 23px;
    letter-spacing: 2px;
    margin: 10px 0;
}
.header-content p span{
    color: black;
    font-weight: bolder;
}

.social-icons{
    font-size: 25px;
    margin: 20px 0;
     letter-spacing: 10px;
}
.social-icons i{
    width: 45px;
    height: 45px;
    padding: 10px;
    margin-left: 5px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    color: black;
    background-color: white;
    transition: .5s;
}
.social-icons a{
    text-decoration: none;
}
.social-icons i:hover{
    background-color: transparent;
}

#quick-nav{
    display: flex;
    height: 65vh;
    position: absolute;
    right: 20px;
    top: 150px;
    position: fixed;
    z-index: 999;
    justify-content: center;
    align-items: center;
}
#quick-nav .side-nav-list{
    display: flex;
    flex-direction: column;
}
#quick-nav .side-nav-list a{
    border: 2px solid black;
    font-size: 15px;
    height: 12px;
    width: 12px;
    margin-bottom: 20px;
    border-radius: 50%;
}
#quick-nav .side-nav-list a:hover{
    box-shadow: 0 0 10px 5px black;
}
.circleActive{
    box-shadow: 0 0 10px 5px black;
        background: orangered;

}

/* about me section */

.Allheading{
    font-size: 20px;
    padding: 10px;
    background: #607D8B;
    border-radius: 5px;
    z-index: 1;
}


#about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
    background-color: #eaeaea;
   
}
.myImg{
    width: 400px;
    height: 400px;
    border: 11px solid whitesmoke;
    border-radius: 50%;
    transition:  .5s;
    
}
.myImg:hover{
  border: 9px solid #212121;
}
.about-box{
    width: 900px;
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-between;
}
.aboutme-box p{
    padding: 50px 50px;
    font-size: 22px;
    margin-left: 150px;
    color: #263238;
}
.aboutme-box .aboutme-first{
    font-weight: bolder;
    color: black;
    font-size: 25px;
}
.aboutme-box .aboutme-last{
    background-color: rgba(0,0,0,.2);
    color: white;
}
.contact-btn{
    width: 140px;
    height: 30px;
    border: none;
    background-color: #E65100;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    padding: 7px;
    margin-left: 200px;
    color: black;
}
.contact-btn:hover{
    background-color: darkred;
}

.about--part1, .about--part2,.card--part1,.card--part2,.card--part3,.card--part4,.card--part5,.card--part6,.card--part7,.workcard{
    opacity: 0;
}
 .animated{
    opacity: 1;
}
.workcard--part1{
    animation-delay: 0s;
}
.workcard--part2{
    animation-delay: 0.3s;
}
.workcard--part3{
    animation-delay: 0.6s;
}
.workcard--part4{
    animation-delay: 0.9s;
}

/* -------- study section ------- */
 
        *{
            margin: 0;
            padding: 0;
        }
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}
.timeline__content-desc {
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, .7);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  line-height: 25px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, .07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, .5);
  font-size: 17px;
  font-family: 'Pathway Gothic One', sans-serif;
  border-left: 2px solid rgba(255, 255, 255, .5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, .5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 background: rgba(0,0,0,0.6);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 58px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
}
.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Cardo;
}
.heading{
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    font-size: 19px;
    padding-top: 50px;
    padding-bottom: 30px;
   
}

/* ------ skills section ----- */
                
                    #skills{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 100vh;
                    background-color: #eaeaea;
                   
                }
                .container{
                    position: relative;
                    width: 89%;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                   
                    height: 100%;
                }
                .container .card{
                    position: relative;
                    width: 230px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 220px;
                    border-radius: 10px;
                    text-align: center;
                    overflow: hidden;
                    transition: .5s;
                    margin: 20px 20px 20px 30px;
                    
                }
                
            .container .card-first{
                position: relative;
                    width: 230px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 220px;
                    text-align: center;
                    overflow: hidden;
                    transition: .5s;
                    margin: 20px 20px 20px 30px;
                   box-shadow: 0 15px 35px rgba(0,0,0,.7);
                background: linear-gradient(45deg, #2962FF,#26A69A)
               
            }
                .container .card:hover{
                    transform: translateY(-15px);
                    box-shadow: 0 15px 35px rgba(0,0,0,.5);
                     background: linear-gradient(0deg,#212121,#212121);
                }
                .container .card:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -50%;
                    width: 100%;
                    height: 100%;
                    background: rgba(255,255,255,0.1);
                    pointer-events: none;
                    z-index: 1;
                }
                .percent{
                    position: relative;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    box-shadow: inset 0 0 50px #000;
                    background: #222;
                    z-index: 1000;
                }
                .percent .number{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .percent .number h2{
                     color: #777;
                    font-weight: 700;
                    font-size: 30px;
                    transition: 0.5s;
                }
                .card:hover .percent .number h2{
                    font-size: 40px;
                    color: #fff;
                }
                .percent .number h2 span{
                    font-size: 15px;
                    color: #777;
                }
                
                .card:hover .percent .number h2 span{
                    color: #fff;
                }
                .text{
                    position: relative;
                    color: #777;
                    margin-top: 20px;
                    font-weight: 700;
                    font-size: 10px;
                    letter-spacing: 1px;
                    transition: 0.5s;
                    transform: translateY(100px);
                }
                .card:hover .text{
                    color: #fff;
                    font-size: 19px;
                    transform: translateY(0);
                }

                svg{
                    position: relative;
                    width: 150px;
                    height: 150px;
                    z-index: 1000;
                    
                }
                svg circle{
                    width: 100%;
                    height: 100%;
                    fill:none;
                    stroke: #191919;
                    stroke-width:10;
                    stroke-linecap: round;
                    transform: translate(5px, 5px);
                }
                svg circle:nth-child(2){
                    stroke-dasharray: 440;
                    stroke-dashoffset: 440;
                }
                .card:nth-child(1) svg circle:nth-child(2){
                    stroke-dashoffset: calc(440 - (440 * 90) / 100);
                    stroke: #FAFAFA;
                }
                
                
                .card:nth-child(2) svg circle:nth-child(2){
                    stroke-dashoffset: calc(440 - (440 * 80) / 100);
                    stroke: deeppink;
                }
                .card:nth-child(3) svg circle:nth-child(2){
                    stroke-dashoffset: calc(440 - (440 * 70) / 100);
                    stroke: royalblue;
                }
                .card:nth-child(4) svg circle:nth-child(2){
                    stroke-dashoffset: calc(440 - (440 * 80) / 100);
                    stroke: orangered;
                }
                .card:nth-child(5) svg circle:nth-child(2){
                    stroke-dashoffset :calc(440 - (440 * 65) / 100);
                    stroke:#B71C1C;
                }
                .card:nth-child(6) svg circle:nth-child(2){
                    stroke-dashoffset :calc(440 - (440 * 60) / 100);
                    stroke:#263238;
                }
                .card:nth-child(7) svg circle:nth-child(2){
                    stroke-dashoffset :calc(440 - (440 * 70) / 100);
                    stroke:#BF360C;
                }
                
      /* ---- work section --- */

               .work-section-heading
             {
                display: flex;
               justify-content: center;
              background-color: #eaeaea;
               font-size: 19px;
               padding-top: 50px;
               padding-bottom: 30px;
             }
            #work{
             min-height: 80vh;
             background-color: #eaeaea;
             display: flex;
             justify-content: center;
             align-items: center;
         }
         
         img{
             width: 400px;
             height: 200px;
            
         }
         .work-box{
              width: 100%;
             position: relative;
             display: flex;
             flex-wrap: wrap;
             justify-content: space-around;
             padding: 20px;
         }
         
         .work-box .card{
             position: relative;
         }
         
         .work-box .card .face{
             width: 350px;
             height: 250px;
             transition: 0.5s;
         }
         .work-box .card .face.face1{
             position: relative;
             background: #333;
             display: flex;
             justify-content: center;
             align-items: center;
             z-index: 1;
             transform: translateY(100px);
             height: 200px;
             border-radius: 5px;
         }
         .work-box .card:hover .face.face1{
             transform: translateY(10px);
         }
         
         .work-box .card .face.face1 .content{
             opacity: 0.18;
             transition: 0.5s;
         }
         .work-box .card:hover .face.face1 .content{
             opacity: 1;
         }
         .work-box .card .face.face1 .content img{
             max-width: 350px;
         }
         .work-box .card .face.face2{
             position: relative;
             background: #333;
             display: flex;
             justify-content: center;
             align-items: center;
             box-sizing: border-box;
             transform: translateY(-150px);
             height: 230px;
             border-radius: 5px;
         }
         .work-box .card:hover .face.face2{
             transform: translateY(0);
             background: whitesmoke;
         }
         
         .work-box .card .face.face2 .content p{
             margin-left: 30px;
             padding: 0;
             font-size: 15px;
         }
         .work-box .card .face.face2 .content .content-heading{
             text-align: center;
             margin: -30px 0 20px;
             color: rgba(255,255,255,.9);
             font-size: 20px;
         }
        .work-box .card:hover .face.face2 .content .content-heading{
              color: black;
          }
         
         .work-box .card .face.face2 .content a{
             margin-top: 10px;
           margin-left: 30px;
             display: inline-block;
             text-decoration: none;
             font-size: 14px;
             font-weight: bolder;
             color: #333;
             padding: 8px;
             border: 1px solid #333;
             transition: .3s;
         }
         
         .work-box .card .face.face2 .content a:hover{
             background: #212121;
             color: white;
             cursor: pointer;
         }


/* ---------------footer ----------- */


#contact{
   background: black;
    padding: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.middle a{
    text-decoration: none;
}



.middle a i{
    font-size: 25px;
    color: rgba(255,255,255,.4);
    transition: .3s;
    letter-spacing: 30px;
    font-size: 35px;
}
.middle a:hover i{
    transform: translateY(-10px);
    color: white;
} 
#contact p{
    font-size: 18px;
    color: rgba(255,255,255,.7);
    margin-top: 40px;
    text-decoration: underline;
    letter-spacing: 2px
}
#contact .name{
    color: white;
}
         



/* ------------ MEDIA QUERIES ------------- */




@media only screen and (min-width:992px) and (max-width:1256px)
{
    .nav-links a{
        font-size: 15px;
    }
    .logo{
        font-size: 18px;
    }
    .header-content h1{
        font-size: 30px;
    }
    .header-content h2{
        font-size: 22px;
    }
    .header-content p{
        font-size: 20px;
    }
    .social-icons i{
        width: 40px;
        height: 40px;
        padding: 5px;
    }
    #quick-nav{
        right: 30px;
    }
    
    .timeline-header__title{
        font-size: 40px;
    }
    .contact-content p:nth-child(1){
             font-size: 23px;
             width: 550px;
             margin-left: 120px;
    margin-bottom: 30px;
    color: #E3F2FD;
         }
}




@media only screen and (min-width:768px) and (max-width:991px)
{
    
    .nav-links a{
        font-size: 13px;
        margin-left: 30px;
    }
    .nav-links li{
        margin-left: -90px;
    }
    .logo{
        font-size: 15px;
    }
    .header-content h1{
        font-size: 30px;
    }
    .header-content h2{
        font-size: 23px;
    }
    .header-content p{
        font-size: 19px;
    }
    .social-icons i{
         width: 35px;
        height: 35px;
        padding: 4px;
    }
    #quick-nav{
        right: 20px;
    }
    .timeline-header__title{
        font-size: 40px;
    }
    .contact-content p:nth-child(1){
             font-size: 23px;
             width: 550px;
             margin-left: 120px;
    margin-bottom: 30px;
    color: #E3F2FD;
         }
}



@media only screen and (min-width:543px) and (max-width:767px){
    .logo{
        font-size: 14px;
    }
    .burger{
        margin-left: 250px;
    }
    .header-content h1{
        font-size: 20px;
    }
    .header-content h2{
        font-size: 22px;
    }
    .header-content p{
        font-size: 19px;
    }
    .social-icons i{
        width: 35px;
        height: 35px;
        padding: 4px;
    }
    
    #quick-nav{
       display: none;
        
    }
    .myImg{
    width: 300px;
    height: 300px;
    margin-left: 200px;
    }
    .about-box{
    width: 1100px;
}
    .aboutme-box p{
    font-size: 20px;
}

    .timeline-header__title{
        font-size: 40px;
    }
    
    .contact-content p:nth-child(1){
             font-size: 20px;
             width: 550px;
             margin-left: 120px;
            margin-bottom: 30px;
            color: #E3F2FD;
         }
}



@media only screen and (min-width:366px) and (max-width:542px){
    
    .logo{
        font-size: 15px;
    }
    .header-content h1{
        font-size: 18px;
    }
    .header-content h2{
        font-size: 20px;
    }
    .header-content p{
        font-size: 19px;
    }
     .social-icons i{
        width: 35px;
        height: 35px;
        padding: 4px;
    }
    #quick-nav{
       display: none;
        
    }
    .myImg{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    }
    .about-box{
    width: 1100px;
}
    .aboutme-box p{
    font-size: 18px;
        margin-left:0;

    }
    
contact-content p:nth-child(1){
             font-size: 20px;
             width: 550px;
             margin-left: 120px;
             margin-bottom: 30px;
              color: #E3F2FD;
         }
}




@media only screen and (min-width:258px) and (max-width:364px){
    
    .logo{
        font-size: 10px;
    }
    .header-content h1{
        font-size: 15px;
    }
    .header-content h2{
        font-size: 19px;
         width: 80px;
         height: 35px;
         padding: 4px;
    }
    .header-content p{
        font-size: 15px;
    }
    .social-icons i{
        width: 33px;
        height: 33px;
        padding: 3px;
    }
    #quick-nav{
       display: none;
        
    }
    .myImg{
    width: 250px;
    height: 250px;
    margin-left:0px;
    }
    .about-box{
    width: 1100px;
}
    .aboutme-box p{
    font-size: 15px;
        margin-left:10px;
        padding: 5px;

    }
    .contact-btn{
        margin-left: 60px;
        font-size: 15px;
    }
    .timeline-header__title{
        font-size: 30px;
    }
    
    .container .card{
        width: 230px;
        height: 230px;
    }
    svg circle{
        stroke-width:6;
    }
    
    .work-box .card .face{
             width: 300px;
             height: 250px;
             transition: 0.5s;
         }
    img{
        width: 300px;
    }
    .Allheading{
    font-size: 20px;
    padding: 5px;
    background: #607D8B;
    border-radius: 5px;
    z-index: 1;
}
    #contact{
        padding: 35px;
    }
    
    #contact p{
        font-size: 13px;
    }
}
